In [1]:
#load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", None)
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load melbourn home data
home_data = pd.read_csv("melb_data.csv")

In [3]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [4]:
home_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
home_data.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [6]:
home_data.sample(n = 10, random_state = 1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
321,Ascot Vale,7 Angler Pde,4,h,1640000.0,S,Raine,16/04/2016,5.9,3032.0,4.0,3.0,2.0,562.0,204.0,1890.0,Moonee Valley,-37.78200,144.90300,Western Metropolitan,6567.0
4003,Melbourne,702/108 Flinders St,2,u,675000.0,VB,Kay,24/09/2016,2.8,3000.0,2.0,2.0,1.0,0.0,NaN,2014.0,Melbourne,-37.81610,144.97120,Northern Metropolitan,17496.0
13348,Balwyn North,1 Hosken St,5,h,2800000.0,S,Marshall,26/08/2017,9.7,3104.0,5.0,2.0,2.0,1173.0,0.0,1960.0,NaN,-37.80385,145.09094,Southern Metropolitan,7809.0
2697,Footscray,6/63 Everard St,2,u,615000.0,S,Sweeney,16/04/2016,6.4,3011.0,2.0,1.0,3.0,207.0,NaN,1960.0,Maribyrnong,-37.79750,144.88550,Western Metropolitan,7570.0
12600,Sandringham,50 Bamfield St,4,h,2700000.0,S,hockingstuart,9/09/2017,15.2,3191.0,4.0,2.0,1.0,722.0,318.0,1890.0,NaN,-37.94804,145.00756,Southern Metropolitan,4497.0
479,Avondale Heights,2/4 Carmyle Ct,2,u,411000.0,PI,Barry,27/11/2016,10.5,3034.0,2.0,1.0,1.0,0.0,85.0,1995.0,Moonee Valley,-37.76080,144.86300,Western Metropolitan,4502.0
8339,Richmond,304/253 Bridge Rd,2,u,630000.0,S,Biggin,29/04/2017,2.6,3121.0,2.0,2.0,1.0,3512.0,NaN,2011.0,Yarra,-37.81830,144.99790,Northern Metropolitan,14949.0
11128,Mordialloc,6 Winterset Cl,4,h,1440000.0,S,Hodges,12/08/2017,21.5,3195.0,4.0,2.0,2.0,695.0,NaN,NaN,Kingston,-38.00477,145.10078,South-Eastern Metropolitan,3650.0
5518,Seddon,8 Perry St,2,h,887000.0,S,Jas,26/07/2016,6.6,3011.0,2.0,1.0,1.0,170.0,NaN,NaN,Maribyrnong,-37.80820,144.89280,Western Metropolitan,2417.0
12093,Mount Waverley,3 Wortley Av,4,h,1640000.0,S,Barry,29/07/2017,14.2,3149.0,4.0,2.0,2.0,811.0,NaN,NaN,Monash,-37.85858,145.12053,Eastern Metropolitan,13366.0

In [7]:
filtered_data = home_data.dropna(axis = 0)

In [8]:
filtered_data.shape

(6196, 21)

In [9]:
# target variable 
y = filtered_data.Price

In [10]:
#numerical columns 
filtered_data.select_dtypes(exclude = "object").columns

Index(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

In [16]:
# selecting features
filtered_data_featues = ['Rooms', 'Bedroom2', 'BuildingArea', 'YearBuilt',  'Bathroom', 
                         'Car','Landsize', 'Lattitude', 'Longtitude']
X = filtered_data[filtered_data_featues]

In [17]:
# split data into training and validation for features and target
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [18]:
# define model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


randomForest_model = RandomForestRegressor(random_state = 1)
# Fit the model 
randomForest_model.fit(train_X, train_y)
val_preds = randomForest_model.predict(val_X)

In [19]:
val_preds

array([ 932000.,  553000.,  914050., ...,  248700., 1221000., 1851800.])

In [20]:
print("MAE for RandomForestRegressor Model: ", mean_absolute_error(val_y, val_preds))

MAE for RandomForestRegressor Model:  202938.21011405208