In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
home_data = pd.read_csv("melb_data.csv")

In [3]:
home_data.shape

(13580, 21)

In [4]:
home_data.sample(n=5, random_state = 1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
321,Ascot Vale,7 Angler Pde,4,h,1640000.0,S,Raine,16/04/2016,5.9,3032.0,4.0,3.0,2.0,562.0,204.0,1890.0,Moonee Valley,-37.78200,144.90300,Western Metropolitan,6567.0
4003,Melbourne,702/108 Flinders St,2,u,675000.0,VB,Kay,24/09/2016,2.8,3000.0,2.0,2.0,1.0,0.0,NaN,2014.0,Melbourne,-37.81610,144.97120,Northern Metropolitan,17496.0
13348,Balwyn North,1 Hosken St,5,h,2800000.0,S,Marshall,26/08/2017,9.7,3104.0,5.0,2.0,2.0,1173.0,0.0,1960.0,NaN,-37.80385,145.09094,Southern Metropolitan,7809.0
2697,Footscray,6/63 Everard St,2,u,615000.0,S,Sweeney,16/04/2016,6.4,3011.0,2.0,1.0,3.0,207.0,NaN,1960.0,Maribyrnong,-37.79750,144.88550,Western Metropolitan,7570.0
12600,Sandringham,50 Bamfield St,4,h,2700000.0,S,hockingstuart,9/09/2017,15.2,3191.0,4.0,2.0,1.0,722.0,318.0,1890.0,NaN,-37.94804,145.00756,Southern Metropolitan,4497.0

In [5]:
# select target variables
y = home_data.Price

In [7]:
# select features
X = home_data.drop("Price", axis = 1)

In [8]:
X.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [10]:
# split the data in to training and validation for both target and features

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, train_size = 0.80, test_size = 0.20, random_state = 5)